# dbt artifacts
target/
dbt_packages/
logs/

# Credentials — NEVER commit
profiles.yml
.env
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# creds
salesforce_ingest/secret_temp.json
salesforce_ingest/sf_private_key.pem